chardet==2.3.0
click==6.7
Django==2.2.24
dominate==2.3.1
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-Moment==0.5.2
Flask-PageDown==0.2.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
image==1.5.17
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
olefile==0.44
Pillow==4.3.0
qrcode==5.3
requests==2.9.1
six==1.10.0
SQLAlchemy==1.1.15
urllib3==1.13.1
Werkzeug==0.13
WTForms==2.1
